.EditProfileContainer{
    transform: translateX(100%) translateY(10%);
    border-radius: 15px;
    border: 2px solid black;
    background-color: white;
    position: fixed;
    margin-left: 250px;
}
.editProfileContainer{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #f3f3f3;
}
.editProfileContainer::-webkit-scrollbar {
    display: none;
}
.editProfilePageContainer{
    display:flex;
}