body {
    background-color: #ffffff;
}

.papersignup {
    max-width: 50% ;
    margin-block: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 170, 215, 0.52);
    padding: 20px 50px;
    transform: translateX(52%);
    border: 5px solid #f851e0;
    border-radius: 20px;
}

.avatasignup {
    margin: 8px;
    background-color: #1e1f22;
}

.formsignup {
    width: 100%;
    margin-top: 12px;
}

.submitsignup {
    margin: 24px 0 16px;
}
.loader {
    width: 50%;
    height: 25px;
    border-radius: 40px;
    color: #000000;
    border: 2px solid;
    position: relative;
    overflow: hidden;
}
.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
    animation: l14 1.25s infinite ease-in-out;
}
