/* Global Styles */
body {
    background-color: #ffffff; /* Assuming theme.palette.common.white is #ffffff */
}

/* Paper */
.papersignup {
    max-width: 50% ;
    margin-block: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 170, 215, 0.52);
    padding: 20px 50px;
    transform: translateX(52%);
    border: 5px solid #f851e0;
    border-radius: 20px;
}

/* Avatar */
.avatasignup {
    margin: 8px; /* Assuming theme.spacing(1) is 8px */
    background-color: #f50057; /* Assuming theme.palette.secondary.main is #f50057 */
}

/* Form */
.formsignup {
    width: 100%; /* Fix IE 11 issue */
    margin-top: 12px; /* Assuming theme.spacing(3) is 24px */
}

/* Submit */
.submitsignup {
    margin: 24px 0 16px; /* Assuming theme.spacing(3, 0, 2) translates to 24px 0 16px */
}
