/* Global styles */
body {
    background-color: #ffffff; /* Assuming theme.palette.common.white is #ffffff */
}

.paperlogin {
    margin-top: 64px; /* Assuming theme.spacing(8) is 64px */
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 170, 215, 0.52);
    border: 5px solid #f851e0;
    border-radius: 20px;
    padding: 20px 50px;
    max-width: 45%;
    transform: translateX(62%);

}
.paperloginadmin {
    margin-top: 64px; /* Assuming theme.spacing(8) is 64px */
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgb(240,244,252);
    border-radius: 20px;
    padding: 20px 50px;
    max-width: 45%;
    transform: translateX(62%);

}
.avatarlogin {
    margin: 8px; /* Assuming theme.spacing(1) is 8px */
    background-color: blue; /* Assuming theme.palette.secondary.main is #f50057 */
}

.formlogin {
    width: 100%;
    margin-top: 8px; /* Assuming theme.spacing(1) is 8px */
}

.submitlogin {
    margin: 24px 0 16px; /* Assuming theme.spacing(3, 0, 2) corresponds to 24px, 0px, and 16px */
}
.success-login{
    position: absolute;
    right: 2rem;
    color: white;
    background-color: #000000;
    border: 5px solid #60dc39;
    padding: 0.5rem 1rem;
    top: 5rem;
}
.loader {
    width: 50%;
    height: 25px;
    border-radius: 40px;
    color: #000000;
    border: 2px solid;
    position: relative;
    overflow: hidden;
}
.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
    animation: l14 1.25s infinite ease-in-out;
}
