
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtersContainerSuggest {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 2px solid #fc6ae7;
    border-radius: 20px;
    background-color: #fcd7f9;
    margin-bottom: -25px;
}

.filtersButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.sliderContainer {
    position: absolute;
    background-color: red;
}

.sliderSuggest {
    width: 100%;
}

.menuItemSuggest {
    width: 600px;
    height: 300px;
    text-decoration: none;
}

.titleGutterbottom {
    margin-bottom: 16px; /* Assuming theme.spacing(2) is 16px */
}
.titleGutterbottomSilder{
    margin-bottom: 16px; /* Assuming theme.spacing(2) is 16px */
    width: 100%;
}
.interestChipsSuggest {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.interestChipsSuggest > * {
    margin: 4px; /* Assuming theme.spacing(0.5) is 4px */
}
.textFieldSuggest {
    max-width: 500px;
    width: 100%;
}

