.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    margin-top: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filtersContainerSuggest {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.filtersButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.sliderContainer {
    position: absolute;
    background-color: red;
}

.sliderSuggest {
    width: 100%;
}

.menuItemSugget {
    width: 600px;
    height: 300px;
    text-decoration: none;
}

.titleGutterbottomSuggest {
    margin-bottom: 16px; /* Assuming theme.spacing(2) is 16px */
}
.titleGutterbottomSilder{
    margin-bottom: 16px; /* Assuming theme.spacing(2) is 16px */
    width: 100%;
}
.interestChipsSuggest {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.interestChipsSuggest > * {
    margin: 4px; /* Assuming theme.spacing(0.5) is 4px */
}
