.wrapperProfileGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centerProfileGrid {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.progressProfileGrid {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emptyPageWrapperProfileGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.emptyPageTextProfileGrid {
    max-width: 700px;
    margin: 16px;
}
.payment-success{
    height: 100dvh;
    position: relative;
    background-color: black;
    display: grid;
    place-items: center;
    color: white;
    overflow: hidden;
}