.fabUpBox {
    margin: 0px 5px;
}

.profileImgUpperBox {
    position: relative;
}

.blockedIconUpperBox {
    position: absolute;
}
.boxUpProfile {
    padding: 8px; /* Assuming theme.spacing(1) is 8px */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxUpProfileMatch {
    padding: 8px; /* Assuming theme.spacing(1) is 8px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("https://media.giphy.com/media/26ufcYAkp8e66vanu/giphy.gif");
}