.chatWrapper {
    position: relative;
    flex-grow: 1;
    padding-inline: 20px;
    border: 2px solid #fc6ae7;
    margin: 10px;
    background-color: #ffe8fd;
    border-radius: 20px;

}
.emptychatWrapper {
    position: relative;
    flex-grow: 1;
    padding-inline: 20px;
    border: 2px solid #fc6ae7;
    margin: 10px;
    background-color: #ffe8fd;
    border-radius: 20px;
    font-size: 20px;
}
.chatInfoWrapper {
    margin-top: 10px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.avatarchatroom {
    margin-right: 16px; /* replace with actual spacing value from theme.spacing(2) */
}

.chatInfoAvatarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chatInfoAvatarWrapper:focus {
    text-decoration: none;
}

.chatInfoAvatarWrapper:hover {
    text-decoration: none;
    color: #1976d2; /* Replace with your theme.palette.secondary.main value */
}

.chatInfoAvatarWrapper:visited {
    text-decoration: none;
}

.chatInfoAvatarWrapper:link {
    text-decoration: none;
}

.chatInfoAvatarWrapper:active {
    text-decoration: none;
}

.chatContent {
    background-color: white;
    margin-top: 20px;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid powderblue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.boxMessageOther {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.boxMessageMe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textBubbleOther {
    background-color: #f4f4f4;
    border-radius: 1.3em;
    padding: 10px 20px;
    margin-left: 8px;
    margin-bottom: 8px;
    max-width: 600px;
    border: 1px solid #ececec;

}

.textBubbleMe {
    background-color: #d6f5f8; /* Replace with theme.palette.primary.main value */
    border-radius: 1.3em;
    padding: 10px 20px;
    margin-right: 8px;
    max-width: 600px;
    color: black;
    margin-bottom: 8px; /* replace with theme.spacing(1) */
    border: 1px solid #ececec;
}

.messageInput {
    width: 90%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 0;
    padding-top: 20px;
}

.textFieldChatroom {
    background-color: #ffffff;
}
