#root{
    width:100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    overflow: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-container{
    padding-inline: 1rem;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/de25mkp9v/image/upload/v1745576426/ChatGPT_Image_Apr_25_2025_05_20_17_PM_pfdqg2.png');
    background-size: cover;
}